@import "default";//倒入
@import "loading";

ul,li{
  list-style: none;
}
.clearfix{
  &::after{
    content:' ';
    clear:both;
    display: block;
    visibility: hidden;
  }
}
//整体布局less
.container{
   display: flex;
  .nav-left{
    width: 15%;
    min-width: 180px;/*最小宽度*/
    height: calc(100vh);
    background-color: #001925;
    overflow: auto;//页面自动滚动
  }
  .main{
    width: 85%;
    height: calc(100vh);
    background-color: @colorL;
    overflow: auto;//页面自动滚动
  }
  .content {
    position: relative;
    padding: 20px;
  }
}
.content-wrap{
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: -3px;
  .ant-table-wrapper{
    margin-left: -1px;
    margin-right: -2px;
  }
}
.ant-card{
  button{
    margin-right: 10px;
  }
}

//以下是自定义的属性
.listInfo{ //链接颜色设置
  a:link{
    color:black;
  }
  a:visited{
    color:black;
  }
  a:hover{
    color: red;
  }
}
.base_crud{
  .base_crud_but{
    padding-left: 10px;
    .ant-form-item{
      margin-top: 12px;
      margin-bottom: 6px;
    }
  }
  .base_crud_table{
    margin-left: 1px;
    margin-right: 1px;
    border-top: #666666 solid 1px;
    .basis_table{
      margin-top: 10px;
    }
  }
}